header{
    width: 100%;
    display: flex;
    justify-content:space-between;
    color: orange;
    padding-bottom: 5px;
    border-bottom: 1px solid white;
}
.nombreProyecto{
    width: 350px;
    text-transform:uppercase;
    display: inline-block;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
}

.logoContenedor{
    width: 450px;
    height: 100px;
    display: flex;
    

}
.logo{
   width: 100px;

}
ul{
    margin-top: 30px;
}

li{
    display: inline-block;
    font-size: 20px;
    margin-right: 20px;
    padding-right: 15px ;
    border-right: 1px solid white;
}
 a{
    color: orange;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
a:hover{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transition: 300ms;
}

